html, body
  width: 100vw
  min-height: 100vh
  padding: 0
  margin: 0

body
  display: flex
  flex-direction: column

  font-family: Helvetica, sans-serif
  color: black

form
  display: flex
  flex-direction: column
  margin: 0
  width: 100%
  height: 100%
  flex-grow: 1
  flex-shrink: 1

div
  display: flex
  flex-direction: column
  box-sizing: border-box
  flex-shrink: 0

dl, dt, dd
  padding: 0

  display: flex
  flex-direction: row

dl, dd
  margin: 0

dt
  margin-right: 1em

dd.info
  display: none

input[type = submit]
  margin-top: 4px

input[type = text]
  background-color: transparent
  border: 2px dashed #808080

  box-sizing: border-box
  width: 100%
  height: auto

  padding: 2px
  font-size: 16px

textarea
  background-color: transparent
  border: none

  box-sizing: border-box
  width: 100%
  height: 100%
  flex-grow: 1
  flex-shrink: 1
  resize: none

  padding: 2px

input[type = text]:focus
    border: 2px solid #00a3c1

@keyframes fade-in
  from
    opacity: 0

  to
    opacity: 1


@keyframes fade-out
  from
    opacity: 1

  to
    opacity: 0

#errors
  display: none

#profile
  background-color: black
  box-shadow: 4px 4px 0 0 black

  z-index: 10
  position: fixed
  top: 0
  right: 0
  width: auto
  height: 36px

  color: white
  font-size: 20px
  padding: 8px 16px

  display: block
  justify-content: center
  align-items: center

  > *:not(first-child)::before
    content: " "

  > a
    color: #408fff

.center-overlay
  pointer-events: none

  width: 100%
  height: 100%
  flex-grow: 1
  flex-shrink: 1

  padding: 32px
  justify-content: center
  align-items: center

  > *
    margin: auto
    top: auto
    bottom: auto
    left: auto
    right: auto
    pointer-events: auto

.bottom-overlay
  pointer-events: none

  width: 100%
  margin-bottom: 0

  justify-content: center
  align-items: center

  > *
    margin: auto
    top: auto
    bottom: auto
    left: auto
    right: auto
    pointer-events: auto

.initial
  animation-name: fade-out

.final
  animation-name: fade-in
  opacity: 0

.initial, .final
  animation-duration: 2s
  animation-delay: 3s
  animation-fill-mode: forwards

  align-self: center
  justify-self: center

#main-screen #title
  position: absolute

  width: 50vw
  height: 25vh
  flex-grow: 0

  justify-content: center
  align-items: center

  > h1
    font-size: 72px
    font-weight: bold

.screen-down-arrow
  margin-bottom: 6.25vmin
  width: 12.5vmin
  height: 12.5vmin

.screen
  width: 100vw
  height: 100vh
  flex-grow: 0

.background
  position: absolute
  width: 100%
  height: auto
  z-index: -1

.item
  border: solid 2px black

  &.thumb
    box-shadow: 4px 4px 0 0 black

    margin: 8px
    width: 256px
    height: 384px

    .header
      height: 48px

      > h2, input[type = text]
        font-size: 24px

    .body
      padding: 4px

      > h3
        font-size: 20px

      textarea, > p
        font-size: 16px

  &.main
    box-shadow: 8px 8px 0 0 black

    align-self: center
    margin: 32px auto
    width: 75%
    height: 100%
    flex-grow: 1
    flex-shrink: 1

    .header
      height: 72px

      > h2, input[type = text]
        font-size: 36px

    .body
      padding: 12px

      > h3
        font-size: 30px

      textarea, > p
        font-size: 24px

  #content_field
    width: 100%
    flex-grow: 1
    flex-shrink: 1

    dd
      width: 100%
      flex-grow: 1
      flex-shrink: 1

    dt
      display: none

  .header
    width: 100%
    flex-grow: 0

    background-color: black
    font-weight: bold
    color: white

    display: flex
    justify-content: center
    align-items: center
    text-align: center

    padding: 4px

    dl, dd
      width: 100%
      flex-grow: 1
      flex-shrink: 1

    dt
      display: none

    input[type = text]
      width: 100%
      height: 100%
      flex-grow: 1
      flex-shrink: 1

      color: white
      font-size: 24px
      font-weight: bold

      text-align: center

  .body
    flex-grow: 1
    flex-shrink: 1
    overflow: scroll

    #content_field dt
      display: none

    > h3, p
      margin-top: 4px
      margin-left: 4px
      margin-right: 4px

.thumbs
  width: 100%

  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start
  padding: 8px

.login
  font-size: 24px
  width: 100%
  height: 100%
  flex-grow: 1
  flex-shrink: 1