@(threadPosts: Seq[LinkedPost])(implicit mainContext: MainContext, messagesProvider: MessagesProvider)

@main(Seq("Home")) {
    <div id="main-screen" class="screen">
        <div class="center-overlay">
            <div id="title" class="initial raised">
                <h1>FreeForum</h1>
                <img class="background" src="@routes.Assets.versioned("images/title-background.svg")" />
            </div>
            <div class="final main item">
                <div class="header">
                    <h2>FreeForum</h2>
                </div>
                <div class="body">
                    <h3>Supporting graduate students, software developers, and everyone else who deserves support</h3>
                    <p>
                        Have you ever worked on a project -- for school, work, or on your own -- and felt unmotivated?
                        Have you ever felt like your project was worthless, or you would get a bad grade?
                        Have you ever needed help or advice on the project? Have you needed <b>support</b> on it?
                        If you agree with these questions, you're not alone -- many people have projects which need support.
                        But although you've wanted support yourself, have you ever supported others?
                    </p>
                    <p>
                        I made this site so people could give motivation and support to other people's projects.
                        You can post your project, or give support to others by replying to their posts.
                        <i>I encourage you to reply and support the projects listed in this website.</i>
                        I also encourage you to support projects outside of this site, in other ways, like by donating.
                        In particular, I believe there are two groups of people who deserve more support:
                    </p>
                    <h4>Graduate Students</h4>
                    <p>
                        Consider graduate students who work on research projects.
                        Graduate students work very hard for long hours, often working overnight.
                        But even with all of this work, they sometimes struggle to make progress in their research.
                        As a result, a lot of graduate students are very stressed, and have trouble staying motivated.
                        Sometimes graduate students even give up on their research.
                    </p>
                    <p>
                        But you shouldn't want them to give up, because this research sometimes ends up benefiting <i>you</i>.
                        A lot of important discoveries, which currently benefit you, are based off of research.
                        For examples, look at <a href="@routes.HomeController.viewThreadByTitle("Volkswagen")">Volkswagen</a>
                        and <a href="@routes.HomeController.viewThreadByTitle("PageRank")">PageRank</a>.
                    </p>
                    <h4>Software Developers</h4>
                    <p>
                        Also, consider people who develop software, especially those who make free software, called "freeware" (“Software Free for” 6).
                        These developers compete against many other developers to get people to notice their software --
                        developers have created over <i>2 million</i> apps on the App Store (“Number of available apps”),
                        and over <i>1 billion</i> websites (“Number of available websites”).
                        Because of all these other pieces of software, most developers often fear that nobody will see their software (Gambier 85-87).
                        So many developers fear that their software will fail and be worthless.
                    </p>
                    <p>
                        Yet a lot of developers make software for a living.
                        Their software -- even their freeware -- gives them money, to buy food, pay bills, and support their families (Gambier 85).
                        So it's very important that they stay motivated, so they succeed in making their software (Kamp 49-51).
                    </p>
                    <p>
                        And remember, the software that these developers make benefits <i>you</i>.
                        If you've ever played a video game, used a digital tool, or visited a website to learn something, you've benefit from software.
                        If it's free software, especially if it's software without advertisements, you've benefit while giving practically nothing back.
                        But you still <i>should</i> give something back -- you should give support.
                        And there are a lot of ways to support software.
                        You can use this forum, you can donate, or in some cases, you can even contribute and improve the software yourself.
                        For example, look at <a href="@routes.HomeController.viewThreadByTitle("Wikipedia")">Wikipedia</a>.
                    </p>
                    <h4>Show your support</h4>
                    <p>
                        As shown above, there are many people and groups who deserve your support.
                        To give them support, all you need to do is reply to one of these posts.
                        It's very easy and barely takes any time -- <i>you probably put more time and effort into reading this message</i>.
                        But your support is meaningful, because it motivates these people and groups to keep working on projects.
                        And these projects improve society.
                        As described in the posts below, they've exposed scandals, they've organized the world's information, and they've made it easier for us to search the web.
                        I believe that if enough people support each other, more and more people will be motivated to start and complete projects.
                        And then, with more projects, I believe that society will noticeably improve.
                    </p>
                </div>
            </div>
        </div>
        <div class="bottom-overlay">
            <img class="screen-down-arrow item-button" src="@routes.Assets.versioned("images/down-arrow.svg")" />
        </div>
    </div>
    <div class="thumbs">
        @newThreadDisplay(mainContext.profile)
        @for(threadPost <- threadPosts) {
            @threadLink(threadPost.thread) {
                @threadPostDisplay(threadPost, clazz = "viewable thumb")
            }
        }
    </div>
}