@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(titlePath: Seq[String])(content: Html)(implicit mainContext: MainContext)

@defining(titlePath :+ "Free Forum") { fullTitlePath =>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@(fullTitlePath.mkString(sep = " - "))</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/core.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/screen.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/item.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/autoresize.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/errors.js")"></script>

    </head>
    <body>
        @errorsDisplay(mainContext.errors)
        @profileDisplay(mainContext.profile)
        @content
    </body>
</html>

}