@(thread: Option[Thread], posts: Seq[Post])(implicit mainContext: MainContext, messagesProvider: MessagesProvider)

@thread.map { thread =>

@main(Seq(thread.title, "Thread")) {
    @posts.headOption.map { firstPost =>
    @defining(posts.tail) { restPosts =>
    @defining(LinkedPost(firstPost, thread)) { threadPost =>

    @threadPostDisplay(threadPost, clazz = "head")
    @for(post <- restPosts) {
        @postDisplay(post, clazz = "reply")
    }
    @thread.id.map { threadId =>
        @newReplyDisplay(mainContext.profile, threadId)
    }

    } } }.getOrElse {

    <div class="center-overlay">
        <div class="main item">
            <div class="header">
                <h2>@thread.title</h2>
            </div>
            <div class="body">
                <p class="error">Hmm, this thread appears to be broken -- there are no posts.</p>
            </div>
        </div>
    </div>

    }
}

}.getOrElse {

@main(Seq("(Unknown)", "Thread")) {

    <div class="center-overlay">
        <div class="error main item">
            <div class="header">
                <h2>Thread doesn't exist</h2>
            </div>
            <div class="body">
                <p class="error">Hmm, this thread doesn't actually exist.</p>
            </div>
        </div>
    </div>

}

}